!!! 5
%html
%head
	%title Recipe
	= stylesheet_link_tag    'application', media: 'all' 
	= javascript_include_tag 'application'
	= csrf_meta_tags
	= analytics_init if Rails.env.production?
%body
	%nav.navbar.navbar-fixed-top
		%nav.navbar.navbar-default
			.container
				.navbar-brand= link_to "Recipes", recipes_path

				- if user_signed_in?
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "New Recipes", new_recipe_path
						%li= link_to "Logout", destroy_user_session_path, method: :delete
				- else
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "Sign up", new_user_registration_path
						%li= link_to "Sign in", new_user_session_path

	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert"
		= yield
